<!DOCTYPE html>
<html>
<head>
    <title>V7AI Application</title>
</head>
<body>
    <h1>V7AI Application</h1>
    <p>Deployed using Ansible.</p>
    <p>Server: {{ ansible_hostname }}</p>
</body>
</html>
